  .chart-container {
    height: 300px; /* Adjust the height as needed */
  }

  .personal-data-container {
    margin-top: 20px; /* Adjust the margin as needed */
  }

  /* .chart-data-col {
    margin-left: 1.1rem;
    align-items: flex-end;
    padding: 1.1rem;
  } */

